*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 10vh;
    border-radius: 10px;
}
form input{
    padding: 10px;
    font-size: 1.1em;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 10px;
}
.container ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: bold;
}