@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand',sans-serif;
}
header{
    background-color: #24292F;
    max-width: 100%;
    min-width: 500px;
    display: flex;
    padding: 10px;
}
nav > #ul-1{
    display: flex;
    list-style: none;
}
nav li {
    margin: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}
nav a:hover{
    color: rgba(255, 255, 255, 0.5);
    
}
#nav-2{
    width: 100%;
}
nav > #ul-2{
    display: flex;
    list-style: none;
    justify-content: end;
    position: relative;
}
nav .lua:hover{
    cursor: pointer;
    filter: drop-shadow(0 0 1px white);
}
main{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    min-width: 500px;
    height: 80%;
    margin: auto;
}
.container{
    position: absolute;
    max-width: 50%;
    min-width: 500px;
    padding: 10px;
    padding-top: 50px;
}
.container input{
    width: 500px;
    border: none;
    outline: none;
    padding: 13px;
    margin: 10px;
    border-radius: 5px;
    background-color: #F6F8FA;
    box-shadow: 0 0 1px black;
}
.container input:focus{
    outline: 2px solid blue ;
}
.strong{
    position: absolute;
    top: -5%;
    padding: 10px;
    font-size: 2em;
}
.container p {
    padding-top: 10px;
    text-align: center;
}
.container a {
    text-decoration:none ;
}
.container a:hover{
    text-decoration: underline;
}
hr{
    position: absolute;
    bottom: -10%;
    width: 100%;
    box-shadow: 1px 1px 1px black;
}
.container .btn{
    background-color: #1A7F37;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}
.container .btn:hover{
    background-color: rgba(0, 128, 0, 0.623)
}
.container .btn:focus{
    outline: 0px ;
}
footer {
    text-align: center;
}
footer > ul {
    display: flex;
    list-style: none;
    width: 350px;
    margin: auto;
}
footer li{
    margin: 10px;
}
footer a {
    text-decoration: none;
    font-size: 14px;
    color: rgb(120, 120, 250);
}
footer a:hover{
    text-decoration: underline;
}
@media screen and (min-width:200px) and (max-width:600px){
    footer{
        max-width: 100%;
        min-width: 500px;
        margin: auto;
    }
    header {
        max-width: 100%;
        min-width: 550px;
    }
    .container{
        max-width: 100%;
        min-width: 350px;
        margin: auto;
    }
}
