*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
body{
    background-color: #e1d4ed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.container{
    position: absolute;
    min-width: 300px;
    background-color: white;
    padding: 5vh;
    border-radius: 10px;
    box-shadow: 0 3px 10px #ccc;
}
.container form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.container input {
    width: 250px;
    padding: 8px;
    border-radius: 20px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #ccc;
    transition: .3s;
}
.container button{
    padding: 8px;
    border-radius: 20px;
    border: none;
    font-size: 1.1em;
    color: white;
    background-color: rgb(89, 89, 252);
    cursor: pointer;
}
.container button:hover{
    background-color: blue;
}
.result{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 1vh;
    font-size: 1.1em;
}
.result span{
    font-size: 1.1em;
    font-weight: bold;
    margin-right: 5px;
}
.result img {
    width: 320px;
    margin: auto;
}
@media screen and (max-width:430px) {
    body{
        min-width: 430px;
    }
}