*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ccc;
    height: 100vh;
    gap: 20px;
}
.buttons{
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 10px;
    width: 100%;
    padding: 5vh;
}
.buttons button{
    padding: 10px;
    font-size: 1.1em;
    border: none;
    background-color: whitesmoke;
    border-radius: 20px;
    cursor: pointer;
}
.buttons button:hover{
    opacity: 0.8;
}
.galeria{
    background-color: white;
    width: 100%;
    border-radius: 10px;
    
}
.galeria img{
    width: 100%;
    height: 100vh;
}
